/* @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap'); */

#root {
  max-width: 1400px;
  margin: 0 auto;
  padding: 1vh 2vw;
  text-align: center;
}

/* Prefer Dark Scheme */
/* @media (prefers-color-scheme: dark) {
  body {
    background-color: #f9f9f9;
    color: #456;
  }
} */
