#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Prefer Dark Scheme */
/* @media (prefers-color-scheme: dark) {
  body {
    background-color: #f9f9f9;
    color: #456;
  }
} */
